.container {
  background-color: #C4DDFF;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 2rem;
  color: #000;
}

.image {
  margin-top: 2rem;
}

.button {
  background-color: #C4DDFF;
  border: none;
}

.blowing {
  background-color: #fff;
  width: 20rem;
  height: 10rem;
  border-radius: 50px;
  color: #000;
}

.text {
  color: #000;
  display: flex;
  justify-content: center;
  margin-top: 4rem
}
  color: #000;
